* {
	margin: 0;
}

html {
	background-color: gray;
}

body {
	background-color: white;
	height: 100%;
	padding-bottom:50px;
}

audio {
	background-color: blue;
	border-radius: 25px;
	box-shadow: blue 4px 5px 15px;
	width: 20%;
	height: 50px;
	transition: width 2s 0.3s, height 2.5s 1.5s, background-color 4s 1.8s, box-shadow 3s 2s;
}

video {
	background-color: blue;
	border-radius: 25px;
	box-shadow: blue 4px 5px 15px;
	width: 20%;
	height: 170px;
	transition: width 2s 0.2s, height 2.5s 1s, background-color 4s 1.5s, box-shadow 3s 2s;
}
audio:focus {
	width: 30%;
	height: 70px;
	background-color: red;
	box-shadow: red 4px 5px 15px;
}
video:focus {
	width: 65%;
	height: 550px;
	background-color: red;
	box-shadow: red 4px 5px 15px;
}
